.loading-screen {
  width: 100vw;
  height: 100vh;

  position: absolute;
  z-index: 500;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1rem);

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen h1 {
  font-family: 'Parisienne', cursive;
  font-size: 6rem;
  animation: anim 0.7s;
}
